---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/AAPL?includeAdjustedClose=true&interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Y-Rid:
      - 47ldq9tki2m0q
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"AAPL","exchangeName":"NMS","fullExchangeName":"NasdaqGS","instrumentType":"EQUITY","firstTradeDate":345479400,"regularMarketTime":1763758802,"hasPrePostMarketData":true,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":271.49,"fiftyTwoWeekHigh":277.32,"fiftyTwoWeekLow":169.21,"regularMarketDayHigh":273.315,"regularMarketDayLow":265.82,"regularMarketVolume":55524271,"longName":"Apple
        Inc.","shortName":"Apple Inc.","chartPreviousClose":266.25,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1763735400,"start":1763715600,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1763758800,"start":1763735400,"gmtoffset":-18000},"post":{"timezone":"EST","end":1763773200,"start":1763758800,"gmtoffset":-18000}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1763735400],"indicators":{"quote":[{"high":[273.3299865722656],"open":[265.95001220703125],"low":[265.6700134277344],"volume":[58784100],"close":[271.489990234375]}],"adjclose":[{"adjclose":[271.489990234375]}]}}],"error":null}}'
  recorded_at: Sat, 22 Nov 2025 06:28:42 GMT
recorded_with: VCR 6.1.0
