# examples:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_cleanup_with_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day

development:
  price_ingest_intraday:
    class: PriceIngestJob
    schedule: "0 6-13 * * 1-5 America/Los_Angeles"

  metric_compute_intraday:
    class: MetricComputeJob
    schedule: "30 6-13 * * 1-5 America/Los_Angeles"

production:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12

  price_ingest_intraday:
    class: PriceIngestJob
    schedule: "0 6-13 * * 1-5 America/Los_Angeles"

  metric_compute_intraday:
    class: MetricComputeJob
    schedule: "30 6-13 * * 1-5 America/Los_Angeles"
