---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5ENDX?includeAdjustedClose=true&interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Y-Rid:
      - 0amagjdki2n5j
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^NDX","exchangeName":"NIM","fullExchangeName":"Nasdaq
        GIDS","instrumentType":"INDEX","firstTradeDate":497021400,"regularMarketTime":1763763359,"hasPrePostMarketData":false,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":24239.574,"fiftyTwoWeekHigh":26182.1,"fiftyTwoWeekLow":16542.2,"regularMarketDayHigh":24521.838,"regularMarketDayLow":23854.031,"regularMarketVolume":1708132000,"longName":"NASDAQ-100","shortName":"NASDAQ-100","chartPreviousClose":24054.379,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1763735400,"start":1763715600,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1763758800,"start":1763735400,"gmtoffset":-18000},"post":{"timezone":"EST","end":1763773200,"start":1763758800,"gmtoffset":-18000}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1763735400],"indicators":{"quote":[{"open":[24137.66015625],"close":[24239.5703125],"low":[23854.029296875],"volume":[9931240000],"high":[24521.83984375]}],"adjclose":[{"adjclose":[24239.5703125]}]}}],"error":null}}'
  recorded_at: Sat, 22 Nov 2025 06:48:19 GMT
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EVIX?includeAdjustedClose=true&interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Y-Rid:
      - 3714q7dki2n5k
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^VIX","exchangeName":"WCB",[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/BTC-USD?includeAdjustedClose=true&interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Y-Rid:
      - 7g4vmvlki2n5k
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"BTC-USD","exchangeName":"C[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/TSLA?includeAdjustedClose=true&interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Y-Rid:
      - 3p1oirhki2n5l
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","f[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/AAPL?includeAdjustedClose=true&interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Y-Rid:
      - 1upj7f9ki2n5m
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"AAPL","exchangeName":"NMS","f[...]
