---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/TSLA?includeAdjustedClose=true&interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Y-Rid:
      - 0h09qjhki2o73
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","fullExchangeName":"NasdaqGS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1763758801,"hasPrePostMarketData":true,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":391.09,"fiftyTwoWeekHigh":488.54,"fiftyTwoWeekLow":214.25,"regularMarketDayHigh":402.8,"regularMarketDayLow":384.24,"regularMarketVolume":99125790,"longName":"Tesla,
        Inc.","shortName":"Tesla, Inc.","chartPreviousClose":395.045,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","start":1763715600,"end":1763735400,"gmtoffset":-18000},"regular":{"timezone":"EST","start":1763735400,"end":1763758800,"gmtoffset":-18000},"post":{"timezone":"EST","start":1763758800,"end":1763773200,"gmtoffset":-18000}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1763735400],"indicators":{"quote":[{"low":[383.760009765625],"high":[402.79998779296875],"close":[391.0899963378906],"open":[402.32000732421875],"volume":[100180500]}],"adjclose":[{"adjclose":[391.0899963378906]}]}}],"error":null}}'
  recorded_at: Sat, 22 Nov 2025 07:06:11 GMT
recorded_with: VCR 6.1.0
